<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Eat This!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Dashboard</a>
            <a class="nav-item nav-link" href="#">Friends</a>
            <a class="nav-item nav-link" href="#">Recipes</a>
            <a class="nav-item nav-link" href="#">Meal Planner</a>
            <a *ngIf="!isLoggedIn" class="nav-item nav-link" [routerLink]="['/login']">Login</a>
            <a *ngIf="isLoggedIn" class="nav-item nav-link" [routerLink]="['/account']" [routerLinkActive]="['active']">{{authenticatedUser.email}}</a>
            <a *ngIf="isLoggedIn" class="nav-item nav-link" [routerLink]="['/logout']">Logout</a>
        </div>
    </div>
</nav>
