<div class="grocery-list-container row">

    <div class="recipe-search-container col-md-3">
        <div>
            <h4>Lists</h4>
            <div *ngFor="let grocery of groceries">
                <a [routerLink]="" (click)="onSelectGrocery(grocery)" class="m-1">{{grocery.startDate | moment:'MM-DD-YYYY'}} - {{grocery.stopDate | moment:'MM-DD-YYYY'}}</a>
                <fa name="trash" class="text-danger pointer" (click)="onDelete(selectedGrocery.id)"></fa>
            </div>
        </div>
    </div>

    <div *ngIf="selectedGrocery" class="grocery-edit-container col-md-9">

        <div class="d-flex flex-wrap justify-content-between">
            <div *ngFor="let department of departments" class="m-2">
                <h5>{{department}}</h5>
                <div *ngFor="let groceryItem of getGroceryItems(department)">
                    <input #picked type="checkbox" [checked]="groceryItem.picked" (change)="onPickGroceryItem(selectedGrocery.id, groceryItem, picked.checked)">
                    {{groceryItem.quantity}} {{groceryItem.unit}} {{groceryItem.ingredient}}
                    <fa name="trash" class="text-danger pointer" (click)="onDeleteGroceryItem(selectedGrocery.id, groceryItem.id)"></fa>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-group m-1">
                <input #line type="text" class="form-control" placeholder="add ingredient" aria-label="add ingredients" aria-describedby="search-addon">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary">
                        <fa name="plus" (click)="onCreateGroceryItem(selectedGrocery.id, line.value);"></fa>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
