<div class="meal-planner-container row">

    <!-- RECIPE SEARCH -->
    <div class="recipe-search-container col-md-3">
        <div class="input-group m-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search-addon">
                    <fa name="search"></fa>
                </span>
            </div>
            <input type="text" #searchKeywords class="form-control" placeholder="recipe search" aria-label="recipe search" aria-describedby="search-addon" (keyup)="search(searchKeywords.value)">
        </div>

        <div *ngIf="!displayedRecipes">
            Search for a recipe and drag it to the day you want to make it.
        </div>

        <div *ngFor="let recipe of displayedRecipes" class="card m-1">
            <div class="card-body" draggable [dragData]="{ recipeId: recipe.id }">
                {{recipe.title}}
            </div>
        </div>
    </div>

    <div class="calendar-container col-md-9">

        <!-- NAVIGATION -->
        <div class="row mb-3 m-1">
            <div class="col">
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-light" (click)="selectPreviousMonth()">Previous</button>
                    <button type="button" class="btn btn-success" (click)="selectToday()">Today</button>
                    <button type="button" class="btn btn-light" (click)="selectNextMonth()">Next</button>
                </div>
            </div>
            <div class="col align-middle">
                <h1 class="display-5">{{selectedDate.format('MMMM')}}</h1>
            </div>
            <div class="col">

            </div>
        </div>

        <!-- CALENDAR -->
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            <label>Monday</label>
                        </th>
                        <th class="text-center">
                            <label>Tuesday</label>
                        </th>
                        <th class="text-center">
                            <label>Wednesday</label>
                        </th>
                        <th class="text-center">
                            <label>Thursday</label>
                        </th>
                        <th class="text-center">
                            <label>Friday</label>
                        </th>
                        <th class="text-center">
                            <label>Saturday</label>
                        </th>
                        <th class="text-center">
                            <label>Sunday</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let week of weeks" style="height: 128px;">
                        <td class="border rounded-lg m-1">
                            <label [class]="week.monday.occurs.isSame(today) ? 'badge badge-success' : week.monday.occurs.isBefore(today) ? 'text-muted' : 'text-success'">
                                {{week.monday.occurs.format('D')}}
                            </label>
                            <div class="h-50" droppable (onDrop)="onRecipeDrop(week.monday.occurs, $event)">
                                <div *ngIf="week.monday.meals">
                                    <div *ngFor="let meal of week.monday.meals" class="label-calendar-item">
                                        {{meal.title}}
                                        <fa name="trash" class="text-danger" (click)="onRemoveMeal(meal.id)"></fa>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="border rounded-lg m-1">
                            <label [class]="week.tuesday.occurs.isSame(today) ? 'badge badge-success' : week.tuesday.occurs.isBefore(today) ? 'text-muted' : 'text-success'">
                                {{week.tuesday.occurs.format('D')}}
                            </label>
                            <div class="h-50" droppable (onDrop)="onRecipeDrop(week.tuesday.occurs, $event)">
                                <div *ngIf="week.tuesday.meals">
                                    <div *ngFor="let meal of week.tuesday.meals" class="label-calendar-item">
                                        {{meal.title}}
                                        <fa name="trash" class="text-danger" (click)="onRemoveMeal(meal.id)"></fa>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="border rounded-lg m-1">
                            <label [class]="week.wednesday.occurs.isSame(today) ? 'badge badge-success' : week.wednesday.occurs.isBefore(today) ? 'text-muted' : 'text-success'">
                                {{week.wednesday.occurs.format('D')}}
                            </label>
                            <div class="h-50" droppable (onDrop)="onRecipeDrop(week.wednesday.occurs, $event)">
                                <div *ngIf="week.wednesday.meals">
                                    <div *ngFor="let meal of week.wednesday.meals" class="label-calendar-item">
                                        {{meal.title}}
                                        <fa name="trash" class="text-danger" (click)="onRemoveMeal(meal.id)"></fa>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="border rounded-lg m-1">
                            <label [class]="week.thursday.occurs.isSame(today) ? 'badge badge-success' : week.thursday.occurs.isBefore(today) ? 'text-muted' : 'text-success'">
                                {{week.thursday.occurs.format('D')}}
                            </label>
                            <div class="h-50" droppable (onDrop)="onRecipeDrop(week.thursday.occurs, $event)">
                                <div *ngIf="week.thursday.meals">
                                    <div *ngFor="let meal of week.thursday.meals" class="label-calendar-item">
                                        {{meal.title}}
                                        <fa name="trash" class="text-danger" (click)="onRemoveMeal(meal.id)"></fa>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="border rounded-lg m-1">
                            <label [class]="week.friday.occurs.isSame(today) ? 'badge badge-success' : week.friday.occurs.isBefore(today) ? 'text-muted' : 'text-success'">
                                {{week.friday.occurs.format('D')}}
                            </label>
                            <div class="h-50" droppable (onDrop)="onRecipeDrop(week.friday.occurs, $event)">
                                <div *ngIf="week.friday.meals">
                                    <div *ngFor="let meal of week.friday.meals" class="label-calendar-item">
                                        {{meal.title}}
                                        <fa name="trash" class="text-danger" (click)="onRemoveMeal(meal.id)"></fa>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="border rounded-lg m-1">
                            <label [class]="week.saturday.occurs.isSame(today) ? 'badge badge-success' : week.saturday.occurs.isBefore(today) ? 'text-muted' : 'text-success'">
                                {{week.saturday.occurs.format('D')}}
                            </label>
                            <div class="h-50" droppable (onDrop)="onRecipeDrop(week.saturday.occurs, $event)">
                                <div *ngIf="week.saturday.meals">
                                    <div *ngFor="let meal of week.saturday.meals" class="label-calendar-item">
                                        {{meal.title}}
                                        <fa name="trash" class="text-danger" (click)="onRemoveMeal(meal.id)"></fa>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="border rounded-lg m-1">
                            <label [class]="week.sunday.occurs.isSame(today) ? 'badge badge-success' : week.sunday.occurs.isBefore(today) ? 'text-muted' : 'text-success'">
                                {{week.sunday.occurs.format('D')}}
                            </label>
                            <div class="h-50" droppable (onDrop)="onRecipeDrop(week.sunday.occurs, $event)">
                                <div *ngIf="week.sunday.meals">
                                    <div *ngFor="let meal of week.sunday.meals" class="label-calendar-item">
                                        {{meal.title}}
                                        <fa name="trash" class="text-danger" (click)="onRemoveMeal(meal.id)"></fa>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Create Grocery List -->
        <div class="row">
            <h5>Create a grocery list</h5>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Start and Stop Date</span>
                </div>
                <input #startDate type="date" aria-label="Start" class="form-control">
                <input #stopDate type="date" aria-label="Stop" class="form-control">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" (click)="createGroceryList(startDate.value, stopDate.value)">
                        <fa name="plus"></fa>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
