:root {
  --color-white: #fff;
  --color-white-mute: rgb(236, 232, 227);
  --color-linen: #faf0ea;
  --color-brass: #c19645;
  --color-light-grey: #f8f7f7;
  --color-dark-grey: #353535;
  --color-timber-green: #163529;
  --color-dragon-red: #610d15;
  --color-black-soft: #222222;

  --color-background: var(--color-white);
  --color-background-dark: var(--color-dark-grey);
  --color-background-alt: var(--color-brass);

  --color-text: var(--color-black-soft);
  --color-text-alt: var(--color-timber-green);

  --element-gap: 4px;
  --section-gap: 160px;

  --font-size-title: 20px;
}

@media (prefers-color-scheme: dark) {
}
