<div class="d-flex flex-row justify-content-between m-1">

  <!-- Page Header, Search, and Command Bar -->
  <div class="input-group m-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="search-addon">
        <fa name="search"></fa>
      </span>
    </div>
    <input type="text" #searchKeywords class="form-control" placeholder="keywords" aria-label="keywords" aria-describedby="search-addon" (keyup)="search(searchKeywords.value)">
    <div class="input-group-append">
        <a href="#" class="btn btn-primary" ngbTooltip="Add a new recipe" placement="left" [routerLink]="['/recipes/edit', '']">
          <fa name="plus"></fa>
        </a>
      </div>
  </div>
</div>

<!-- Recipe List -->
<div class="d-flex flex-wrap">

  <div *ngFor="let recipe of displayedRecipes" class="card border m-1" style="width: 18rem;">
    <div>
      <a href="#" [routerLink]="['/recipes', recipe.id]">
        <img src="{{recipe.imageUrl}}" class="card-img-top" alt="{{recipe.title}}" style="max-width: 17.89rem;">
      </a>
    </div>
    <h6 class="card-header card-title">
      <a href="#" [routerLink]="['/recipes', recipe.id]" class="">
        {{recipe.title}}
      </a>
    </h6>
    <div class="card-body">
      <p class="card-text">{{recipe.description}}</p>
      <hr class="my-4">
      <a href="#" class="btn btn-light" [routerLink]="['/recipes', recipe.id]">
        <fa name="book"></fa> read more
      </a>
    </div>
  </div>

</div>
