<form [formGroup]="recipeForm" (validSubmit)="onSubmit(recipeForm.value)" novalidate>
    <input type="hidden" id="id" />

    <div *ngIf="result" class="alert alert-success" role="alert">
        Update successful!
    </div>

    <div class="form-group" [customErrorMessages]="customErrorMessages">
        <label for="title">
            Recipe Title
        </label>
        <input id="title" type="text" class="form-control" formControlName="title" placeholder="Enter a title">
    </div>

    <div class="form-group">
        <label for="imageUrl">
            Image Url
        </label>
        <input id="imageUrl" type="text" class="form-control" formControlName="imageUrl" placeholder="Image Url">
    </div>

    <div class="form-group">
        <label for="description">
            Description
        </label>
        <textarea id="description" rows="4" class="form-control" formControlName="description"></textarea>
    </div>

    <div class="form-group">
        <label for="ingredients">
            Ingredients
        </label>
        <textarea id="ingredients" rows="6" class="form-control" formControlName="ingredients"></textarea>
        <sub>1 ingredient per line</sub>
    </div>

    <div class="form-group">
        <label for="preparation">
            Preparation
        </label>
        <textarea id="preparation" rows="6`" class="form-control" formControlName="preparation"></textarea>
    </div>
    <button class="btn btn-primary m-1" type="submit">
        <fa name="save"></fa> Save
    </button>

    <button *ngIf="recipeId != ''" class="btn btn-danger m-1" data-toggle="modal" data-target="#exampleModal">
        <fa name="trash"></fa> Delete
    </button>

    <a href="#" class="btn btn-light m-1" [routerLink]="recipeId === '' ? ['/recipes'] : ['/recipes', recipeId]">Done</a>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action cannot be undone!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDelete(recipeId)">
                    <fa name="trash"></fa>
                    Yep! Delete it!
                </button>
            </div>
        </div>
    </div>
</div>
