<div id="main">
    <article class="post">
        <div class="title">
            <h2>Create An Account</h2>
        </div>

        <form #form="ngForm" (ngSubmit)="register(form)" novalidate>
            <div class="form-group">
                <label>
                    First Name:
                    <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="registration.firstName" class="form-control" required />
                </label>
                <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
                    First name is required.
                </div>
            </div>
            <div class="form-group">
                <label>
                    Last Name:
                    <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="registration.lastName" class="form-control" required />
                </label>
                <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
                    Last name is required.
                </div>
            </div>
            <div class="form-group">
                <label>
                    Email Address:
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="registration.email" class="form-control" required />
                </label>
                <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                    Email address is required.
                </div>
            </div>
            <div class="form-group">
                <label>
                    Password:
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="registration.password" class="form-control" required />
                </label>
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                    Password is required.
                </div>
            </div>
            <div class="form-group">
                <label>
                    Confirm Password:
                    <input type="password" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="registration.confirmPassword" class="form-control" required />
                </label>
                <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
                    Confirm password is required.
                </div>
                <div *ngIf="password.value != confirmPassword.value" class="alert alert-danger">
                    Passwords do not match.
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid || password.value != confirmPassword.value">Create</button>
                <button class="btn btn-default" routerLink="../splash">Cancel</button>
                <a href="#" routerLink="../login">or login</a>
            </div>
            <div *ngIf="errors" class="alert alert-danger mt-3">
                <ul>
                    <li *ngFor="let error of errors">{{error}}</li>
                </ul>
            </div>
        </form>
    </article>
</div>
