<div *ngIf="recipe">
  <div class="d-flex flex-row m-1 float-right">
    <img src="{{recipe.imageUrl}}" class="rounded img-thumbnail mx-auto d-block recipe-large" alt="{{recipe.title}}">
  </div>

  <h1 class="display-5">{{recipe.title}}</h1>
  <p>{{recipe.description}}</p>
  <p class="font-weight-lighter font-italic">{{(recipe && recipe.keywords) ? recipe.keywords.join(', ') : ''}}</p>

  <h3>Ingredients</h3>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ingredient.input}}
    </li>
  </ul>

  <h3>Preparation</h3>
  <p *ngFor="let line of recipe.preparation.split('\n')">
    {{line}}
  </p>

  <hr class="my-4">
  <a href="#" class="btn btn-light" [routerLink]="['/recipes/edit', recipe.id]">
    <fa name="edit"></fa> Edit
  </a>
</div>
